
<h1>Home</h1>

<br><br>

<% @coins.each do |c| %>
  <% @my_coins.each do |a| %>
    <% if a == c["symbol"] %>
      <p></p><%= c["name"] %>. Price: $<%= c["price_usd"] %></p>
    <% end %>
  <% end %>
<% end %>

<!---



-->